{% extends 'base.html.twig' %}

{% block title %}title{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

        <script type="text/javascript">
            // Map appearance
            var width="100%";         // width in pixels or percentage
            var height="300";         // height in pixels
            var latitude="36.00";     // center latitude (decimal degrees)
            var longitude="-5.40";    // center longitude (decimal degrees)
            var zoom="8";             // initial zoom (between 3 and 18)
        </script>
        <script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>
</div>
{% endblock %}
