<footer class="footer fixed-bottom bg-primary">
    {% block footer %}
        <div class="row">
            <div class="col-4 text-left txt-footer">
                <a href="{{ path('message_contact') }}" class="text-white" >Contact</a><br>
                <a href="https://moodle.benoitroche.fr" target="_blank" class="text-white">Moodle de Benoît Roche</a>
            </div>
            <div class="col-4 text-center">
                <img class="img-fluid" src="{{ asset('assets/images/753331.jpg') }}">
            </div>
            <div class="col-4 text-right txt-footer">
                <a href="#" class="text-white">Mentions légales</a><br>
                <a href="#" class="text-white">Plan du site</a>
            </div>
        </div>
    {% endblock %}
</footer>