<h3>Demande de contact</h3>

<p>
    Message reçu de {{ message.getNom()|title }} {{ message.getPrenom()|title }}!
<p>
    mail : {{ message.getMail() }}
</p>
<br>
Message :
<p>
{{ message.getMessage() }}
</p>